.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  width: 350px !important;
  border: 1px solid rgb(190, 190, 190);
  padding: 20px;
  border-radius: 10px;
}
.login-button {
  width: 100%;
  padding: 12px 0 !important;
  margin-top: 50px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.login-img {
  /* text-align: center; */

  width: 120px;
  height: 120px;
  border: none;
  border-radius: 20000px;
  transform: scale(1.1);
  /* transform: translateY(-80px); */
}
.img-container {
  margin-bottom: 30px;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
}
